body {
    background-color: black;
    color: #00FF00; /* Changed to a lighter green */
    font-family: monospace, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #111;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #00FF00; /* Changed to a lighter green */
    text-decoration: none;
}

main {
    flex: 1; /* Allows the main content to grow and push the footer down */
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h2 {
    border-bottom: 2px solid #00FF00; /* Changed to a lighter green */
    padding-bottom: 10px;
}

.skills-category {
    margin-bottom: 20px;
}

.skills-category h3 {
    margin-top: 0;
}

footer {
    background-color: #111;
    color: #00FF00; /* Changed to a lighter green */
    text-align: center
